<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840370493125-j0j7dte18kekl9ognti3bjte005ijjbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840370493125-j0j7dte18kekl9ognti3bjte005ijjbb</string>
	<key>API_KEY</key>
	<string>AIzaSyDtQr-5meiDDyMZsjrn9sibKLujbKDlVlE</string>
	<key>GCM_SENDER_ID</key>
	<string>840370493125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstaFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-7ddd6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-7ddd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840370493125:ios:3ac8ef3bc0af7e166042ac</string>
</dict>
</plist>